body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #FFA500;
}

.form {
    width: 60%;
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #FFA500;
}

.form-input {
    width: calc(100% - 16px);
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #555;
}

.form-input[type="range"] {
    width: 90%;
}

.slider-value {
    display: block;
    margin-top: 5px;
    color: #FFA500;
}

canvas {
    margin-top: 20px;
    border: 1px solid #333;
    background-color: #fff;
    width: 80%;
}

footer {
    text-align: center;
    background-color: #FFA500;
    padding: 10px;
    color: #fff;
    width: 100%;
    position: relative;
}
